@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes disappearDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(10%);
        opacity: 0;
    }
}

@keyframes enterUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterDown {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        scale: 0.95;
        clip-path: inset(0 0 100% 0);
    }

    40% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        scale: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes btnZoomIn {
    0% {
        scale: 0.95;
        opacity: 0;
    }

    30% {
        scale: 1.05;
        opacity: 1;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes plinkoWin {
    50% {
        transform: translateY(20%);
        scale: 1.01;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    min-width: 1500px;
    min-height: 900px;
    padding: 0;
    background-color: #222831;
    color: #F6E9E9;
}

h4 {
    margin: auto;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #2c3036;
}

.logo {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 33px;
    color: #4ae745;
    text-decoration: none;
    font-weight: 700;
    text-shadow:
        0 0 7px #7ABA78,
        0 0 7px #7ABA78,
        0 0 25px #7ABA78;
}

.wallet {
    display: flex;
    align-items: center;
    margin: 5px 1px;
    padding: 10px 20px;
    height: 70px;
    border-radius: 10px 0 0 10px;
    background-color: #191c20;
    box-shadow: 0 5px 30px rgba(53, 155, 44, 0);
}

.walletlabel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
}

.fa-euro-sign {
    height: 2px;
    padding-left: 5px;
    color: #359b2c;
}

.walletbutton {
    background-color: #359b2c;
    border: 2px solid #359b2c;
    height: 68px;
    margin: 5px 0px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 2px #dacbcb8c;
    transition: 0.2s;
    color: #F6E9E9;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 30px;
    transition: 0.3s ease all;
}

.walletbutton:hover {
    transition-duration: 0.3s;
    border: 2px solid #F6E9E9;
    box-shadow: 0 2px 10px rgba(53, 155, 44, 0.7);
}

.walletbutton:active {
    box-shadow: 0 1px #373c44;
    transform: translateY(2px);
}

.homesection {
    margin-top: 85px;
    height: 91vh;
    display: flex;
    align-items: center;
    padding: 3% 5% 3% 3%;
}

.betcontent {
    min-height: 820px;
    min-width: 450px;
    width: 30%;
    height: 110%;
    margin: 0 5px;
    background-color: #191c20;
    border-radius: 20px;
}

.togglecontainer {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: enterUp 0.3s ease forwards;
}

.togglebutton {
    background-color: #2c3036;
    width: 450px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.togglebutton::before {
    position: absolute;
    content: "";
    background-color: #191c20;
    width: 225px;
    height: 70px;
    border-radius: 70px;
    margin: 5px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

input[type="checkbox"]:checked+.togglebutton::before {
    transform: translateX(95%);
}

input[type="checkbox"] {
    display: none;
}

.manualtext,
.autotext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    font-weight: bold;
}

.manualtext {
    left: 17%;
}

.autotext {
    right: 21%;
}

.amountcontainer {
    margin: 5%;
    height: 80px;
    width: 90%;
    opacity: 0;
    animation: enterUp 0.3s 0.1s ease forwards;
}

.amountdiv {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c3036;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.amountinput {
    margin: 5px;
    padding-left: 10px;
    background-color: #191c20;
    color: #F6E9E9;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    width: 55%;
    height: 80%;
    outline: none;
    transition: 0.3s;
}

.amountinput:hover {
    background-color: #373c44;
}

.amountinput::-webkit-inner-spin-button,
.amountinput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amountbutton1,
.amountbutton2,
.amountbutton3 {
    width: 15%;
    height: 85%;
    background-color: #2c3036;
    border: none;
    display: flex;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.amountbutton3 {
    color: #F6E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.amountbutton3 h5 {
    margin-top: 1vh;
    height: 1px;
}

.amountbutton1 h3,
.amountbutton2 h3,
.amountbutton3 h3 {
    font-size: 20px;
    margin: auto;
    text-decoration: none;
    color: #F6E9E9;
    font-weight: bolder;
    transition: 0.3s;
}

.amountbutton1:hover,
.amountbutton2:hover,
.amountbutton3:hover {
    background-color: #373c44;
}

.buttondivider {
    width: 2px;
    height: 30px;
    border-radius: 2px;
    background-color: #191c20;
    display: inline-block;
    align-self: center;
}

.all-in-icon {
    height: auto;
    max-width: 100%;
    scale: 0.45;
}

.riskcontainer {
    margin: 5%;
    height: 80px;
    width: 90%;
    opacity: 0;
    animation: enterUp 0.3s 0.2s ease forwards;
}

.riskcontainer h3 {
    margin-bottom: 5px;
}

.dropdown {
    width: 100%;
    height: 100%;
}

.dropdown * {
    box-sizing: border-box;
}

.selected {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 1vh;
}

.select {
    background: #2c3036;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}

.select-clicked {
    box-shadow: 0 0 0.8em #2c3036;
}

.select:hover {
    background: #373c44;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #F6E9E9;
    margin-right: 4%;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    background: #2c3036;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 2;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.menu li:hover {
    background-color: #373c44;
}

.active {
    background: #191c20;
    margin: 5px;
    border-radius: 5px;
}

.menu-open {
    margin-top: 10px;
    display: block;
    opacity: 1;
}

.numbercontainer {
    margin: 5%;
    height: 80px;
    width: 90%;
    display: none;
}

.numberdiv {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c3036;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.numberinput {
    padding-left: 10px;
    background-color: #191c20;
    color: #F6E9E9;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 98%;
    height: 85%;
    outline: none;
    transition: 0.3s;
}

.numberinput:hover {
    background-color: #373c44;
}

.numberinput::-webkit-inner-spin-button,
.numberinput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.play {
    display: flex;
    text-align: center;
    width: 90%;
    height: 100px;
    border: 2px solid #359b2c;
    border-radius: 10px;
    background-color: #359b2c;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px #dacbcb8c;
    transition: 0.2s all ease;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(53, 155, 44, 0);
    /* opacity: 0;
    animation: btnZoomIn 0.5s 0.3s forwards; */
}

.play:hover {
    transition-duration: 0.3s;
    border: 2px solid #F6E9E9;
    box-shadow: 0 5px 30px rgba(53, 155, 44, 0.7);
}

.play:active {
    box-shadow: 0 2px #373c44;
    transform: translateY(2px);
}

.play h1 {
    font-size: 24px;
    margin: auto;
    text-decoration: none;
    color: #F6E9E9;
    font-weight: bolder;
}

.gamecontent {
    min-height: 820px;
    width: 70%;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    background-color: #373c44;
    border-radius: 20px;
}

.gamecanvas {
    width: 964px;
    height: 775px;
}

.wincontent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44px, 44px));
    gap: 12px;
    justify-content: center;
    opacity: 0;
    animation: enterDown 0.3s 0.4s ease forwards;
}

.multiplier {
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiplier1 {
    background-color: #359b2c;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.multiplier2 {
    background-color: #168118;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.multiplier3 {
    background-color: #157811;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.multiplier4 {
    background-color: #036704;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.multiplier5 {
    background-color: #09580b;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.multiplier6 {
    background-color: #084f09;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.multiplier7 {
    background-color: #0c4407;
    display: flex;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

.historycontent {
    min-height: 375px;
    display: grid;
    place-items: center;
    margin: 5px;
    border-radius: 15px;
    justify-content: center;
    gap: 5px;
    animation: zoomIn 0.5s ease forwards;
}

.historydiv {
    display: flex;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.historydiv h4 {
    margin: auto;
}

.winDisappearence {
    animation: enterUp 0.4s ease forwards;
}

.winAppearence {
    animation: enterUp 0.4s ease forwards;
}

.animateWin {
    animation: plinkoWin 0.15s ease forwards;
}

.HIDDEN {
    display: none !important;
}

@keyframes walletBoxEnter {
    from {
        transform: translateX(-50%) translateY(-70%);
        opacity: 0;
        scale: 1;
    }
    to {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        scale: 1;
    }
}

@keyframes blurOverlay {
    from {
        backdrop-filter: blur(0px);
        background-color: rgba(0,0,0,0);
    }
    to {
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0,0.5);
    }
}

.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    animation: blurOverlay 0.2s ease forwards;
    z-index: 2;
}

.walletHeaderContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.walletBox {
    display: flex;
    animation: walletBoxEnter 0.4s ease forwards;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    height: fit-content;
    z-index: 3;
    padding: 1%;
    background-color: rgb(34, 40, 49);
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    border-radius: 35px;
}

.walletTitle {
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.closeWalletBox {
    height: 35px;
    width: 35px;
    border-radius: 17px;
    border: solid 1px #373c44;
    background-color: #222831;
    display: flex;
    cursor: pointer;
    img {
        height: 20px;
        width: 20px;
        margin: auto auto;
    }
    transition: 0.2s all;
}

.closeWalletBox:hover {
    scale: 0.9;
    background-color: #191c20;
}

.walletSuperContainer {
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "g1 g2"
    "g3 g2";
    div {
        background-color: rgb(55, 60, 68);
        border-radius: 20px;
    }
}

.balanceContainer {
    grid-area: g1;
    border-radius: 20px 5px !important;
    margin: 0 7px 7px 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-size: 26px;
        color: #F6E9E9;
        opacity: .85;
        font-weight: 500;
    }
    h2 {
        font-size: 50px;
        color: white;
    }
}

.depositAmountsContainer {
    grid-area: g3;
    border-radius: 5px 0 0 20px !important;
    display: grid;
    padding: 10px 10px 10px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 3fr;
    gap: 4px;
    button {
        cursor: pointer;
        /* background-color: rgba(0,0,0,0.5); */
        border-radius: 10px;
        border: solid 6px transparent;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        color: #cecece;
    }
}

.amountBtn5 {
    background-color: #0c4407;
}
.amountBtn4 {
    background-color: #084f09;
}
.amountBtn3 {
    background-color: #09580b;
}
.amountBtn2 {
    background-color: #036704;
}
.amountBtn1 {
    background-color: #157811;
}
.amountBtn0 {
    background-color: #168118;
}
.amountBtn {
    transition: 0.1s ease;
}

.selectedAmount {
    border: solid 6px rgb(34, 40, 49) !important;
}

/* For Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cardDetailsContainer {
    grid-area: g2;
    border-radius: 10px 20px 20px 0 !important;
    padding: 25px;
    label {
        font-size: 24px;
        font-weight: 500;
        display: block;
        margin-bottom: 2px;
    }
    input {
        font-size: 20px;
        font-weight: 400;
        padding: 5px;
        background-color: rgb(34, 40, 49);
        border: solid 2px #989898;
        color: #F6E9E9;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    input#cardOwner {
        width: 300px;
    }
    input#cardNumber {
        width: 250px;
    }
    input#expMonth, input#expYear {
        width: 60px;
    }
    input#CVC {
        width: 120px;
        margin-left: 40px;
    }
    label[for="CVC"] {
        margin-left: 40px;
    }

    button {
        background-color: #359b2c;
        border: 2px solid #359b2c;
        border-radius: 10px;
        box-shadow: 0 2px #dacbcb8c;
        color: #b2b2b2;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        padding: 5px 20px;
        transition: 0.3s ease all;
        margin-top: 10px;
    }
    button:hover {
        transition-duration: 0.3s;
        border: 2px solid #b2b2b2;
        box-shadow: 0 2px 10px rgba(53, 155, 44, 0.7);
    }
    
    button:active {
        box-shadow: 0 1px #373c44;
        transform: translateY(2px);
    }
}
#expDateSep {
    margin: 0 5px !important;
    font-size: 20px;
}

.expAndCVC {
    display: flex;
    width: 400px;
}
.disabledBuyBtn {
    opacity: 0.5;
    scale: .9;
    filter: grayscale();
}

#walletEurSign {
    scale: 2;
    margin-left: 10px;
}